.drawer {
  height: auto !important;
}

.list {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 36px;
  padding: 48px 0;
  text-align: center;
}

.current {
  color: #49abb8;
}

.menuItem {
  justify-content: center;
}
