.h2 {
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.list {
  display: grid;
  gap: 8px;
}

.imageBlock {
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.imageBlock img {
  object-fit: cover;
}
